<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>易物</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:regular,700,600&amp;latin" type="text/css" />
        <!-- Essential styles -->
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.css" type="text/css">


        <!-- Dlapak styles -->
        <link id="theme_style" type="text/css" href="/static/assets/css/style1.css" rel="stylesheet" media="screen">

        <!-- Assets -->
        <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl.theme.css">


        <!-- JS Library -->
        <script src="/static/assets/js/jquery.js"></script>

    </head>
    <body>
        <div class="wrapper">
            <header class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand"><span class="logo"><i class="fa fa-recycle"></i> 易物</span></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="new-ads"><a href="/user/register/" class="btn btn-ads btn-block">注册新用户</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <section class="hero">
                <div class="container text-center">
                    <h2 class="hero-title">在这里，找到你需要的</h2>
                    <p class="hero-description hidden-xs">一个为闲置物品提供的专业平台</p>
                    <div class="row hero-search-box">
                        <form>
                            <div class="col-md-4 col-sm-4 search-input">
                                <input type="text" class="form-control input-lg search-first" placeholder="你想要什么……">
                            </div>
                            <div class="col-md-4 col-sm-4 search-input">
                                        <select class="form-control input-lg search-second">
                                            <option selected="">种类</option>
                                            <option>教材</option>
                                            <option>食品</option>
                                            <option>家居</option>
                                            <option>服饰</option>
                                            <option>电子产品</option>
                                            <option>日用品</option>
                                            <option>美妆</option>
                                            <option>抵用券</option>
                                        </select>
                            </div>
                            <div class="col-md-4 col-sm-4 search-input">
                                <button class="btn btn-custom btn-block btn-lg"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="row">

                                    <div class="section-header">
                                        <h2>热门分类</h2>
                                    </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/1/">
                                            <img alt="" src="/static/assets/img/logo/1.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/1/"><h3>教材</h3></a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/2/">
                                            <img alt="" src="/static/assets/img/logo/2.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/2/"><h3>食品</h3></a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/3/">
                                            <img alt="" src="/static/assets/img/logo/3.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/3/"><h3>家居</h3></a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/4/">
                                            <img alt="" src="/static/assets/img/logo/4.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/4/"><h3>服饰</h3></a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/5/">
                                            <img alt="" src="/static/assets/img/logo/5.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/5/"><h3>电子产品</h3></a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/6">
                                            <img alt="" src="/static/assets/img/logo/6.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/6/"><h3>日用品</h3></a>
                                    </div>  
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/7/">
                                            <img alt="" src="/static/assets/img/logo/7.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/7/"><h3>美妆</h3></a>
                                    </div>  
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="/list/8/">
                                            <img alt="" src="/static/assets/img/logo/8.jpg" class="img-responsive img-center">
                                        </a>
                                        <a href="/list/8/"><h3>抵用券</h3></a>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-header">
                                        <h2>最新物品</h2>
                                    </div>
                                    <div id="featured-products" class="owl-carousel owl-carousel-featured">
                                        {% for g in goods %}
                                        <div class="item">
                                            <div class="item-ads-grid">
                                                <div class="item-badge-grid featured-ads">
                                                    <a href="#">new</a>
                                                </div>
                                                <div class="item-img-grid">
                                                    <a href="/{{ g.id }}/">
                                                        <img alt="" img src="/static/goods/{{ g.gpic }}" class="img-responsive img-center">
                                                    </a>

                                                </div>
                                                <div class="item-title">
                                                    <a href="/{{ g.id }}/"><h4>{{ g.gname }}</h4></a>
                                                </div>
                                                <div class="item-meta">
                                                    <ul>
                                                        <li class="item-cat"><i class="fa fa-bars"></i>{{ g.gtype }}
                                                    </ul>
                                                </div>
                                                <div class="product-footer">
                                                    <div class="item-price-grid pull-left">
                                                        <h3>{{ g.gprice }}</h3>
                                                        <p>{{ g.gtext }}</p>
                                                    </div>
                                                    <div class="item-action-grid pull-right">
                                                        <ul>
                                                            <li><a href="/cart/add/{{ g.id }}/" data-toggle="tooltip" data-placement="top" title="收藏物品" class="btn btn-default btn-sm"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="/{{ g.id }}/" data-toggle="tooltip" data-placement="top" title="物品详情" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                         <div class="section-header">
                                        <h2>登 录</h2>
                                    </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>欢迎使用易物！</h3>
                                 </div>
                                 <div class="form_input">
					               <form action="/user/login_handle/" method="post">
                                       {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon addon-login"><i class="fa fa-user"></i></span>
                                                <input type="text" name="username" value="{{ uname }}" required="required" class="form-control input-login">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon addon-login"><i class="addon fa fa-lock"></i></span>
                                                <input type="password" name="pwd" value="{{ upwd }}" required="required" class="form-control input-login">
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-custom btn-block" value="登录">
                                    </form>
                                 </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>全部分类</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        {% for t in types %}
                                        <li><a href="/list/{{ t.id }}/">{{ t.tname }}</a></li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="banner-widget">
                                <img src="/static/images/adv_1.jpg" alt="banner" class="img-responsive">
                            </div>
                            <div class="banner-widget">
                                <img src="/static/images/adv_2.jpg" alt="banner" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="counter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-database"></i></span>
                                <div data-refresh-interval="100" data-speed="3000" data-to="7803" data-from="0" class="item-count">783</div>
                                <span class="item-info">物品</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-user-plus"></i></span>
                                <div data-refresh-interval="50" data-speed="5000" data-to="427" data-from="0" class="item-count">427</div>
                                <span class="item-info">卖家</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-map-marker"></i></span>
                                <div data-refresh-interval="80" data-speed="5000" data-to="639" data-from="0" class="item-count">104</div>
                                <span class="item-info">地点</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-users"></i></span>
                                <div data-refresh-interval="80" data-speed="5000" data-to="1548" data-from="0" class="item-count">548</div>
                                <span class="item-info">使用人数</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .counter -->
    </div>
    <div class="footer">
        <div class="container">
        <ul class="pull-left footer-menu">
            <li>
                <a href="#"> 关于我们</a>
                <a href="#"> 联系我们 </a>
            </li>
        </ul>
        <ul class="pull-right footer-menu">
            <li>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></li>
        </ul>
        </div>
    </div>
</div>
<!-- Essentials -->
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/plugins/counter/jquery.countTo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // ===========Featured Owl Carousel============
        if ($(".owl-carousel-featured").length > 0) {
            $(".owl-carousel-featured").owlCarousel({
                items: 3,
                lazyLoad: true,
                pagination: true,
                autoPlay: 5000,
                stopOnHover: true
            });
        }

        // ==================Counter====================
        $('.item-count').countTo({
            formatter: function (value, options) {
                return value.toFixed(options.decimals);
            },
            onUpdate: function (value) {
                console.debug(this);
            },
            onComplete: function (value) {
                console.debug(this);
            }
        });
    });
</script>
</body>
</html> 
